<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leo.energy.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="org.leo.energy.user.entity.User">
        <!--@mbg.generated-->
        <!--@Table leo_energy_user-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
        <result column="sex" jdbcType="SMALLINT" property="sex" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="create_user" jdbcType="BIGINT" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_user" jdbcType="BIGINT" property="updateUser" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="account_status" jdbcType="BIGINT" property="accountStatus" />
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, tenant_id, code, account, `password`, `name`, real_name, avatar, email, phone,
        birthday, sex, role_id, create_user, create_time, update_user, update_time, `status`,
        account_status, is_deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from leo_energy_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from leo_energy_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="org.leo.energy.user.entity.User">
        <!--@mbg.generated-->
        insert into leo_energy_user (id, tenant_id, code,
        account, `password`, `name`,
        real_name, avatar, email,
        phone, birthday, sex,
        role_id, create_user, create_time,
        update_user, update_time, `status`,
        account_status, is_deleted)
        values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
        #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{realName,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{sex,jdbcType=SMALLINT},
        #{roleId,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
        #{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},
        #{accountStatus,jdbcType=BIGINT}, #{isDeleted,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="org.leo.energy.user.entity.User">
        <!--@mbg.generated-->
        insert into leo_energy_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tenantId != null and tenantId != ''">
                tenant_id,
            </if>
            <if test="code != null and code != ''">
                code,
            </if>
            <if test="account != null and account != ''">
                account,
            </if>
            <if test="password != null and password != ''">
                `password`,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="realName != null and realName != ''">
                real_name,
            </if>
            <if test="avatar != null and avatar != ''">
                avatar,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="roleId != null and roleId != ''">
                role_id,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="accountStatus != null">
                account_status,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null and tenantId != ''">
                #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="code != null and code != ''">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="account != null and account != ''">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="realName != null and realName != ''">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null and avatar != ''">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=SMALLINT},
            </if>
            <if test="roleId != null and roleId != ''">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="accountStatus != null">
                #{accountStatus,jdbcType=BIGINT},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.leo.energy.user.entity.User">
        <!--@mbg.generated-->
        update leo_energy_user
        <set>
            <if test="tenantId != null and tenantId != ''">
                tenant_id = #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="code != null and code != ''">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="account != null and account != ''">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=SMALLINT},
            </if>
            <if test="roleId != null and roleId != ''">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="accountStatus != null">
                account_status = #{accountStatus,jdbcType=BIGINT},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.leo.energy.user.entity.User">
        <!--@mbg.generated-->
        update leo_energy_user
        set tenant_id = #{tenantId,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        account = #{account,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        `name` = #{name,jdbcType=VARCHAR},
        real_name = #{realName,jdbcType=VARCHAR},
        avatar = #{avatar,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        birthday = #{birthday,jdbcType=TIMESTAMP},
        sex = #{sex,jdbcType=SMALLINT},
        role_id = #{roleId,jdbcType=VARCHAR},
        create_user = #{createUser,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_user = #{updateUser,jdbcType=BIGINT},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        `status` = #{status,jdbcType=INTEGER},
        account_status = #{accountStatus,jdbcType=BIGINT},
        is_deleted = #{isDeleted,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>